.smallScreenNav {
    background: linear-gradient(106deg, rgba(0, 0, 0, 0.684)9.45%, rgba(0, 0, 0, 0.60) 27.86%), linear-gradient(267deg, rgba(23, 23, 23, 0.667) 40.67%, rgba(1, 1, 1, 0.71) 99.81%);
    backdrop-filter: blur(6px);
    background-clip: padding-box;
    transition: 0.6s ease-in-out all !important;
}

.onScrollLogo {
    width: 125px !important;
}

.onScrollNav {
    background: linear-gradient(106deg, #00040f, rgba(0, 1, 13, 0.6) 27.86%), linear-gradient(267deg, rgba(3, 0, 38, 0.667) 40.67%, rgba(1, 1, 1, 0.71) 99.81%);
    backdrop-filter: blur(6px);
    background-clip: padding-box;
    padding-top: 0.20rem !important;
    padding-bottom: 0.20rem !important;
}